body{
	width:75%;
	background-color: blue;
	margin:auto;
}

header{
	text-align: center;
	font-size: 2em;
	color:white;
}

section{
	background-color: blue;
	margin: auto;
	width:75%;

}

nav{
	margin: auto;
	background-color: white;
	border-radius: 10px;
	width:35%;
}

li{
	padding-top:10px;
}