
#historia h1{
    color: #fff;
    font-size: 5em;
    font-weight: normal;
    margin-top: 2.5em;
    opacity: 0.90;
    text-align: center;
    text-shadow: 2px 2px 2px #ccc;
    text-transform: uppercase;
    width: 100%;
    display:block;


}


h2{

    margin-top: 1.5em;
}


#historia{
  
    height: 100% !important;
    
}

 .miBoton{
         margin-left:45%;
         margin-bottom: 2%;
    }


  .logo_letra{
         
    }

.no_disponible:hover :after{

 content:" No disponible";
}


@media screen and (max-width: 768px) {


header{
    position: absolute;
    z-index: 2;
}

    header label{
        display:block;
    }


    .menu{
    
      width: 50%;
      margin-left: -50%;
    }


    .menu ul{
        flex-direction: column;
        
    }

    .menu li{
        border-top:1px solid #fff;
    }



    .menu li a{
    display:inline-block;
    padding: 2px;
    text-decoration: none;
    text-shadow: -1px 0 #090, 1px 0 #090, 0 1px #090, 0 -1px #090;
    color: #fff;
    }



    .logoMenu{
        width:30px;
        height: 30px;

    }

    #botonMenu {
    visibility: hidden;
   
    }    

    .logo_letra{
         visibility: hidden;
    }

    #botonMenu:checked ~ .menu{
        margin:0;
    }

    #logo {
    
    display: block;
    width: 130px;
    position: absolute; 
    left:53%;
    top: 2%; 
    z-index: 3;
    }


    #historia h1{
        margin-top: 6em;
        font-size: 2em;
    }

    .miBoton{
         margin-left:34%;
    }

    #sello{
        margin-left:30%;
    }

   nav h3{
        display:none;
    }

  }


