

#cronologia h1{
    color: #fff;
    font-size: 5em;
    font-weight: normal;
    margin-top: 3em;
    opacity: 0.90;
    text-align: center;
    text-shadow: 2px 2px 2px #ccc;
    text-transform: uppercase;
    width: 100%;
    display:block;


}


#cronologia {
  
    height: 100% !important;
    
}


  .miBoton{
         margin-left:47%;
         margin-bottom: 2%;
    }

.content time,h3{
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    opacity: 0.90;
    text-align: center;
    text-shadow: -1px 0 #090, 1px 0 #090, 0 1px #090, 0 -1px #090;

}


.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}


.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}


.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 43.4%;
}


.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}


.left {
  left: 0;
}


.right {
  left: 50%;
}


.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent rgba(219, 255, 51, 0.8);
}


.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent rgba(219, 255, 51, 0.8) transparent transparent;
}


.right::after {
  left: -16px;
}


.content {
  padding: 20px 30px;
  background-color: rgba(219, 255, 51, 0.8);
  position: relative;
  border-radius: 6px;
}


@media screen and (max-width: 768px) {

   #logo {
    
    
    top: 0.2%; 

    }

#cronologia h1{

  margin-top: 5em;
  font-size: 2.5em;
}

.content time,h3{
   
    font-size: 1em;
   

}


  .miBoton{
         margin-left:16%;
         margin-bottom: 2%;
    }

  .timeline::after {
    left: 31px;
  }


  .container {
    width: 80%;
    padding-left: 70px;
    padding-right: 25px;
  }


  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }


  .left::after, .right::after {
    left: 15px;
  }


  .right {
    left: 0%;
  }
}