



#contenido p{
margin-top: 2%;
}

 .formulario_contacto legend{
 	margin-top: 2%;
	margin-left: 1%;
}



.formulario_contacto ul,li{
margin-left: 6%;
margin-bottom: 1.5%;
}


.formulario_contacto li{
margin-top: 1%;
}

